
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 90px;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkorchid;
    background-image: linear-gradient(15deg, darkorchid, #9CEAEF, black);
    
}

.navbar .logo .img {
    width: 100%;
    max-width: 75Px;
    min-width: 65px;
    max-height: 100px;
    margin: 10%;
    border-radius: 50px 30px;

}


.navbar ul li {

    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration:none;
    font-family: fantasy;
    color: white;
    height: 80%;
       
}

.menu ul li:hover {
    
    border-bottom: 4px solid rgb(253, 252, 253);
    border-top: 4px solid rgb(251, 251, 252);
    
}






